body{
    font-family: 'Courier New', Courier, monospace;
}
*{
   background-color: rgb(90, 118, 143;
}


#navBar{
    background-color: rgb(35, 32, 30);
    color: white;
}

#about-me{
    background-color: rgb(90, 118, 143);
}

.footerContent{
    color:brown
}

#resumePg{
    align-items: center;
}

#projects-page{
    background-color: purple;
}

.contactForm{
    background-color: aquamarine;
}